.couleurheader{
    background-color:#3562AC ;
}

.taille{
    height: auto;
    width: 3rem;
}

.taille-2{
    height: auto;
    width: 3.5rem;
}

.taille-3{
    height: auto;
    width: 100%;

}

img{
    width: 100%;
   
}

.icontaille{
    font-size: 2.5rem;
}


.couleur-1{
    background-color: rgb(177, 171, 171);
}


.couleur-2{
    background-color: #BCAC6B;
}

.couleur-3{
    background-color: #A83E00;
}

.couleur-4{
    background-color: #06B918;
}
.couleur-5{
    background-color: #784761;
}
.couleur-6{
    background-color: #F3E003;
}
.couleur-7{
    background-color: #518653;
}
.couleur-8{
    background-color: #6E00BC;
}

.taillebouton{
    width: 2rem;
  
}

.colonne{

    margin: 0.5rem 0.5rem 0 0.5rem;

}

.colonne-2{
    margin: 0 0.5rem;
}

.espace{
    margin: 0 0.1px 0 0.1px;
   
}

.marge-1{
   padding-top: 2rem;
   padding-bottom: 8rem;
}

.heardermarge{
 margin: 1.5rem;
 width: 100%;
}


.margin {
    margin:0 9rem ;
}
/* .description {
    width: 90wh;
}

@media screen and (min-width: 1000px) {
    .description {
        width: 10wh;
    }
} */